/*COMMON START*/
@font-face {
  font-family: YuMincho;
  src: url(../font/yumin.ttf);
}

@font-face {
  font-family: NotoSerifMyanmar;
  src: url(../font/NotoSerifMyanmar-Black.ttf);
}

@font-face {
  font-family: YuGothic;
  src: url(../font/yugothil.ttf);
}

.img {
  max-width: 100%;
  height: 100%;
}

.box-content-group {
  padding: 20px 25px 0px;
  background: #FFFFFF;
}

.box {
  padding-left: 0px;
  padding-right: 0px;
}

.btn-logo-vendor{
  margin: 0px;
  text-align: center;
  justify-content: center;
  padding: 34px 0px 30px;
}

.btn-logo-vendor a {
  display: block;
  border: 1.5px solid #707070;
  border-radius: 22px;
  width: 100%;
  padding: 8px 0px;
}

.btn-logo-contact {
  margin: 0px;
  text-align: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
}

.btn-logo-contact a {
  display: block;
  border: 1.5px solid #4281B7;
  width: 100%;
  padding: 18px 0px;
  color: #4281B7;
  font: normal normal bold 16px/27px YuGothic;
  letter-spacing: 2.08px;
  color: #4281B7;
  opacity: 1;
}

.btn-logo-vendor a .img {
  max-width: 80%;
  max-height: 27px;
  margin: auto;
}

a.btn-logo-vendor .img{
  max-width: 100%;
}

.button-link {
  text-decoration: none;
  padding: 20px;
  background: #FFFFFF;
  border: 1px solid #4281B7;
  opacity: 1;
  display: block;
  margin: 20px auto;
  text-align: center;
  width: 210px;
}

.button-link:hover{
  background-color: #4281B7;
  border: 1px solid #4281B7;
}

.button-link-reverse {
  text-decoration: none;
  padding: 20px;
  background: #4281B7;
  border: 1px solid #4281B7;
  color: #FFFFFF;
  opacity: 1;
  display: block;
  margin: 20px auto;
  text-align: center;
  width: 210px;
}

.button-link-reverse:hover{
  background-color: #FFFFFF;
  color: #4281B7;
  border: 1px solid #4281B7;
}

.button-link-contact {
  padding: 20px;
  background: #FFFFFF;
  border: 1px solid #4281B7;
  opacity: 1;
  text-decoration: none;
  display: block;
  text-align: center;
  min-width: 178px;
}

.button-link:active{
  background-color: #4281B7;
  border: 1px solid #4281B7;
}

.mobile {
  display: block;
}

.desktop{
  display: none;
}

.white-box{
  background: #FFFFFF;
  padding: 20px 0px 0px;
}

img{
  max-width: 100%;
}

.clip-path-section {
  background: #FFFFFF;
  padding: 24px;
  -moz-box-shadow: 0px 3px 6px #00000029;
  -webkit-box-shadow: 0px 3px 6px #00000029;
  box-shadow: 0px 3px 6px #00000029;
}

.header-box {
  padding: 20px;
  clip-path: polygon(
          0 50%,
          0 100%,
          100% 100%,
          100% 0
  );
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  padding: 10px;
  min-height: 276px;
}

.header-box-bootom {
  padding: 20px;
  clip-path: polygon(
          0 0,
          100% 0%,
          50% 100%,
          0 100%
  );
  min-height: 276px;
  width: 100%;
  position: absolute;
  z-index: -1;
  padding: 10px;
}

.section-dark {
  background-image: linear-gradient(#EAF1FA, #EAF1FA);
}

.section-light {
  background-image: linear-gradient(#F4F9FF, #F4F9FF);
}


.header-box-bootom-first{
  background-image: linear-gradient(#F4F9FF, #F4F9FF);
}

.header-box-content {
  padding-top: 40px;
  overflow: hidden;
}

.header-box-content-service {
  display: flex;
  align-items: center;
  padding: 30px 10px 20px 10px;
}

.header-box-content-content{

}

.bound-box {
  padding: 0px 24px;
}

.line{
  border: 1px solid #5EAFC3;
  opacity: 1;
  margin: auto 0px;
}

.relative{
  position: relative;
}

.navbar-nav{
  height: 100vh !important;
  background: #FFFFFF;
}

.yumincho{
  font-family: YuMincho;
}

.section-title {
  font: normal normal normal 1.56rem/1.875rem 'Noto Sans JP', sans-serif;
  letter-spacing: 2.58px;
  color: #4D4C4C;
  opacity: 1;
}

.section-sub-title{
  font-family: YuMincho;
  font-size: 0.75rem;
  letter-spacing: 0px;
  color: #414141;
  opacity: 1;
}
/*COMMON END*/

/*NAV START*/
div#navbarResponsive {
  text-align: center;
}

.navbar-toggler {
  border: none;
  background: transparent !important;
}

.navbar-toggler:focus {
  outline: none;
  background: transparent !important;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 2rem;
  height: 3px;
  background-color: #fff;
  transform: rotate(0deg) translate(0px, 0px);
  transition: ease all .2s;
  padding: 1px 0px;
}

.navbar-toggler .icon-bar+.icon-bar {
  margin-top: 4px;
}

.icon-bar:nth-child(2) {
  width: 2rem;
  transition: ease all .2s;
}

.navbar-toggler:active>.icon-bar:nth-child(2) {
  width: 2rem;
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
  opacity: 0;
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
  transition: ease all .2s;
}

.sec-accent {
  background-color: #fafcf5;
}

.blue {
  background-color: #9999cc;
}

#top_nav img{
  width: 15rem;
}

#top_nav.importantBackground {
  background-color: #FFFFFF !important;
  -moz-box-shadow:    0px 0px 1px 0px #00000029;
  -webkit-box-shadow: 0px 0px 1px 0px #00000029;
  box-shadow:         0px 0px 1px 0px #00000029;
}

#top_nav {
  background:transparent !important;
  font-weight: 600;
  font: normal normal normal 16px/24px Noto Sans JP;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  padding: 0px;
}

.navbar-toggler{
  padding: 10px;
}

.navbar-brand{
  padding-left: 10px;
}

#top_header{
  background: url("../image/header_bg.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  margin-top: -70px;
  display: grid;
  max-width: 100%;
  height: 400px;
  font-weight: 600;
}

#top_header .feature{
  display: none;
}

#side-footer{
  display: none;
  align-self: end;
}

/*NAV END*/

/*NEW START*/
#home_new {
  background: #F7F7F7 0% 0% no-repeat padding-box;
  opacity: 1;
  overflow: hidden;
}

#new-header{
  padding: 34px 0px 30px;
  z-index: 100;
}

.new_table{
  padding: 0px 28px;
}

.new_table .new_table_row {
  border-bottom: 0.5px solid #707070;
  padding: 20px 0px;
}
.new_table .new_table_row:first-of-type {
   border-top: 0.5px solid #707070;
 }

.row.new_table_row > div {
  padding: 0px;
}

.new_table_row_date {
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-family: YuGothic;
  font-weight: 600;
 /* font: normal normal normal  0.875rem/1.5rem YuGothic;*/

  letter-spacing: 0px;
  color: #414141;
  opacity: 1;
}

.new_table_row_title{
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-family: YuMincho;
  font-weight: 600;
}

.button-end{
  padding: 30px 0px;
  display: flex;
  justify-content: center;
}
/*NEW END*/

/*ABOUT START*/
#home_about{
  padding: 55px 28px 20px 28px;
}

#home_about div.director {
  margin-top: 30px;
  text-align: center;
}

.description {
  padding: 30px 0px 0px;
  display: block;
  text-align: left;
}

/*ABOUT END*/

/*SERVICE START*/
#home_service {

}

.service-label-1 {
  padding: 10px 0px 34px 0px;
  font: normal normal normal 20px/34px YuMincho;
}

#corona {
  background: #F4F9FF;
}

.header-box-first{
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon( 0 100%, 0 100%, 100% 100%, 100% 0 );
  z-index: -1;
}

.header-box-second {
  background-image: linear-gradient(#EAF1FA, #EAF1FA);
}
/*SERVICE END*/

/*CONTACT START*/
.contact-title{
  flex-direction: column;
  justify-content: center;
}

#home_contact{
  padding: 50px 25px;
}

.phone {
  font: normal normal bold 2.0rem/2.0rem YuGothic;
  letter-spacing: 3.1px;
  color: #000000;
  opacity: 1;
  padding-left: 9px;
}

.time {
  font: normal normal bold 1.0rem/1.68rem YuGothic;
  letter-spacing: 1.6px;
  color: #000000;
  opacity: 1;
  padding-left: 15px;
}

.contact-line-hor-right {
  padding-top: 40px;
}
/*CONTACT END*/

/*CORPORATE-GROUP START */
#corporate-group{
  background: #F7F7F7;
  padding: 40px 28px;
  display: flex;
  flex-direction: column;
}

.corporate-group-label{
  display: flex;
  flex-direction: column;
}

.corporate-group-items {
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  flex-wrap: wrap;
}

.group-item-bound {
  background: #F7F7F7;
  position: relative;
  display: grid;

  border: 0.5px solid #707070;
  margin: 6px;
  background: #FFFFFF;

  grid-template-columns: auto;
  grid-template-rows: auto auto;
  justify-items: start;

}

.group-item {
  border-bottom: 0px;
  padding: 0px 12px;
}

.group-item-button{
  height: 50px;
  width: 100%;
  align-self: end;
}

.arrow-web {

}

.group-item-button a {
  color: #FFFFFF;
  background: #4281B7;
  width: 100%;
  height: 100%;
  display: block;
  border: 0.5px solid #4281B7;
  padding: 12px 0px;
  text-decoration: none;
}

.group-item-logo {
  padding: 23px 16px;
  min-height: 125px;
}

.corporate-group-sub-title{
  font: normal normal normal 12px/14px Noto Sans Javanese;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.group-item-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*CORPORATE-GROUP START */

/*FOOTER CSS START*/
#footer {
  background: #EAF1FA;
  padding: 33px 100px 16px 100px;
  font-size: 10px;
  overflow-x: hidden;
  width: 100%;
}

#footer img.logo {
  width: 15rem;
}

#footer .footer-info{
  padding: 28px 0px;
}

#footer .info{
  display: flex;
  flex-direction: column;
}

.copy-right{
  padding: 9px 50px;
  font-size: 10px;
  text-align: center;
  width: 100%;
}
/*FOOTER CSS END*/



/*Ipad dọc(768 x 1024)*/
@media screen and (min-width: 576px){

  .new_table .new_table_row {
    border-bottom: 0.5px solid #707070;
    opacity: 1;
    padding: 28px 0px;
  }

  .mobile {
    display: none;
  }

  .desktop{
    display: block;
  }

  .box-content-group {
    padding: 0px;
  }

  .clip-path-section {
    background: inherit;
    -moz-box-shadow:    0px 0px 0px 0px #00000029;
    -webkit-box-shadow: 0px 0px 0px 0px #00000029;
    box-shadow:         0px 0px 0px 0px #00000029;
  }

  .flex-start-left{
    align-self: start;
    text-align: left !important;
  }

  .flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flex-end-right{
    align-self: end;
    text-align: right !important;
  }

  /* css button*/
  .btn-logo-vendor{
    max-width: 273px;
    margin: auto;
  }

  .white-box{
    background: #FFFFFF;
    padding: 40px;
  }

  .contact-title h1 {
    font: normal normal normal 25px/30px Noto Serif Myanmar;
    letter-spacing: 2.58px;
    color: #4D4C4C;
    opacity: 1;
  }

  #home_about{
    padding: 166px 28px 20px 28px;
  }

  #home_about div.director {
    margin-top: 0px;
  }

  #top_nav{
    background:rgba(0,0,0,0) !important;
    height: 70px;
    font-weight: 600;

  }

  .navbar-nav{
    height: inherit !important;
    background: inherit;
  }

  #top_header{
    background: url("../image/header_bg.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    margin-top: -70px;
    display: grid;
    width: 100%;
    height: 700px;
    font-weight: 600;
  }

  #top_header nav {
    align-items: start;
    color: inherit !important;
  }

  #top_header nav a {
    color: inherit !important;
  }

  #top_header .feature {
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  #top_header .feature .logo{
    background: url("../image/logomark.png");
    opacity: 1;
    min-width: 207px;
    min-height: 185px;
  }

  /**NEW START**/
  #home_new {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    position: relative;
    overflow-x: hidden;
  }

  #home_new .new_table {
    padding-top: 157px;
  }

  .title{
    display: inline;
    text-align: left;
  }

  .mobile{
    display: none;
  }

  .section-title {
    font: normal normal normal 4.5625rem/6.625rem 'Noto Sans JP', sans-serif;
    letter-spacing: 0.47rem;
    color: #4D4C4C;
    opacity: 1;
  }

  .section-title-top{
    line-height: 45px;
  }

  #new-header{
    display: flex;
    padding: 67px 0px;
    z-index: 100;
  }

  .section-sub-title{
    font: normal normal normal 2.0rem/3.375rem YuMincho;
    letter-spacing: 0px;
    color: #414141;
    margin-top: 14px;
  }

  .new_table .new_table_row:first-of-type {
    border-top: 0px solid #707070;
  }

  .button-end{
    padding: 50px 0px;
    display: flex;
    justify-content: flex-end;
  }

  /*fake back ground for new*/
  .home_new_background {
    width: 100%;
    height: 100%;
    display: block;
    background: #F7F7F7;
    position: absolute;

    top: 0;
    margin-left: 14%;
  }
  /*NEW END*/

  /*SERVICE START*/
  .service-label-1 {
    text-align: right;
    font: normal normal normal 42px/71px YuMincho;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
  /*SERVICE END*/

  /**HOME END**/

/*  CONTACT START*/
  .contact-line-hor-left {
    display: flex;
    align-items: center;
  }

  .contact-line-hor-right {
    border-right: 1px solid #414141;
    padding-top: 40px;
  }

  .button-link-contact{
      max-width: inherit;
  }

  .contact-title h1 {
    font: normal normal normal 73px/88px Noto Serif Myanmar;
    letter-spacing: 2.58px;
    color: #4D4C4C;
    opacity: 1;
  }
 /* CONTACT END*/

  /*CORPORATE GROUP START*/


  .corporate-group-items {
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    flex-wrap: wrap;

  }

  .group-item {
    border-bottom: 0px;
    padding: 0px;
    display: grid;
  }

  .group-item-button {
    min-height: 60px;
    margin: auto auto 50px auto;
    align-self: end;
    padding: 15px;
    width: inherit;
  }

  .group-item-button a {
    min-height: 60px;
    background: #FFFFFF;
    align-self: end;
    padding: 15px;
    width: inherit;

    font: normal normal bold 16px/27px YuGothic;
    letter-spacing: 2.08px;
    color: #4281B7;
    opacity: 1;
  }

  .group-item-content {
    padding: 42px;
  }

  .arrow-web {
    min-width: 112px;
  }
  /*CORPORATE GROUP END*/

  /*FOOTER START*/
  #footer{
    background: #EAF1FA;
    opacity: 1;
    font-size: 16px;
    display: flex;
    padding: 0px;
  }

  #footer .row{
    width: 100%;
  }

  #footer .info{
    text-align: left;
    padding: 50px 50px;
  }

  #side-footer{
    background: #E1EBF8 0% 0% no-repeat padding-box;
    opacity: 1;
    color: #E1EBF8;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 50px 50px;
  }
  #side-footer li {
    background: #E1EBF8 0% 0% no-repeat padding-box;
    opacity: 1;
    color: #E1EBF8;
    text-align: center;
    border: none;
  }

  #side-footer ul.list-group {

  }
  /*FOOTER END*/


  /*Ipad dọc(768 x 1024)*/
  @media screen and (min-width: 1024px){
    .corporate-group-items{
      padding: 55px 329px 95px 329px;
    }
  }
}